pkgbase = php-zephir-parser
	pkgdesc = The Zephir Parser delivered as a C extension for the PHP language.
	pkgver = 1.3.1
	pkgrel = 1
	url = https://github.com/phalcon/php-zephir-parser
	arch = x86_64
	arch = i686
	license = MIT
	makedepends = php>=5.5
	makedepends = gcc
	makedepends = pcre
	makedepends = autoconf
	depends = re2c
	backup = etc/php/conf.d/php-zephir.ini
	source = https://github.com/phalcon/php-zephir-parser/archive/v1.3.1.tar.gz
	sha256sums = 1e54b0ddc6b99510bcb2cfa3c235473a9c1bba40c4a1a977e22298a39698d621

pkgname = php-zephir-parser

